.firstScroll{
    width: 100%;
    height: 100vh;
    background-image: url(badmintom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;


  
  }
  
  
  .firstTexts{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 500px;
    width: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 45px;
    margin-right: 200px;
    text-align: justify;
    margin-bottom: 30px;
    margin-left: 200px;
  }
  
  .h3{
    margin-bottom: 10px;
  }
  
  .p{
    margin-top: 5px;
  }
  .secondScroll {
    width: 100%;
    height: 100vh;
    background-image: url("badminton.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
  }
  
  .tita {
    margin-top: 0px;
    width: 100%;
    height: 60vh;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
  }
  
  .titaCon {
    background-color: rgba(20, 16, 16, 0.897);
    height: 350px;
    border-radius: 20px;
    display: flex;
    font-size: 35px;
    width: 100%;
    align-items: center         ;
    justify-content: center;
    padding: 5px;
    color: white;
  text-align: center;
  }
  
  .titaH1 {
    border-radius: 10px;
    color: white;
    font-size: 50px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    margin-bottom: 80px;
  }
  
  .grid-container {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:25px;
  
  }
  .anak{
    height: 100%;
    display: flex;
    align-items: flex-start;
  }
  
  
  .titaCon:hover{
    background-color: rgba(255, 255, 0, 0.397);
  }


  .badminton{
    color: #fff;
  }