.bt-pg,
.bt-pg *,
.bt-pg :after,
.bt-pg :before,
.bt-pg:after,
.bt-pg:before {
  border: 0 solid;
  box-sizing: border-box;
}

.bt-pg {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.bt-pg:disabled {
  cursor: default;
}

.bt-pg:-moz-focusring {
  outline: auto;
}

.bt-pg svg {
  display: block;
  vertical-align: middle;
}

.bt-pg [hidden] {
  display: none;
}

.bt-pg {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 1.5rem;
  position: relative;
  text-transform: uppercase;
}

.bt-pg .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  font-size: 30px;
}

.bt-pg:hover .original {
  transform: translateY(100%);
}

.bt-pg .letters {
  display: inline-flex;
  font-size: 20px;
}

.bt-pg span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.bt-pg span:nth-child(2n) {
  transform: translateY(15px);
}

.bt-pg:hover span {
  opacity: 1;
  transform: translateY(0);
}

.bt-pg:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.bt-pg:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.bt-pg:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.bt-pg:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.bt-pg:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

.bt-pg:hover span:nth-child(7) {
  transition-delay: 0.6s;
}

.bt-pg:hover span:nth-child(8) {
  transition-delay: 0.7s;
}

.bt-pg:hover span:nth-child(9) {
  transition-delay: 0.8s;
}

.bt-pg:hover span:nth-child(10) {
  transition-delay: 0.9s;
}

.btn-sg,
.btn-sg *,
.btn-sg :after,
.btn-sg :before,
.btn-sg:after,
.btn-sg:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-sg {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-sg:disabled {
  cursor: default;
}

.btn-sg:-moz-focusring {
  outline: auto;
}

.btn-sg svg {
  display: block;
  vertical-align: middle;
}

.btn-sg [hidden] {
  display: none;
}

.btn-sg {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 1.5rem;
  position: relative;
  text-transform: uppercase;
}

.btn-sg .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  font-size: 30px;
}

.btn-sg:hover .original {
  transform: translateY(100%);
}

.btn-sg .letters {
  display: inline-flex;
  font-size: 20px;
}

.btn-sg span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-sg span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-sg:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-sg:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-sg:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-sg:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-sg:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-sg:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

.btn-sg:hover span:nth-child(7) {
  transition-delay: 0.6s;
}

.btn-sg:hover span:nth-child(8) {
  transition-delay: 0.7s;
}

.btn-sg:hover span:nth-child(9) {
  transition-delay: 0.8s;
}

.btn-sg:hover span:nth-child(10) {
  transition-delay: 0.9s;
}

.btn-sg:hover span:nth-child(11) {
  transition-delay: 1s;
}

.btn-sg:hover span:nth-child(12) {
  transition-delay: 1.1s;
}

.btn-sg:hover span:nth-child(13) {
  transition-delay: 1.2s;
}

.btn-sf,
.btn-sf *,
.btn-sf :after,
.btn-sf :before,
.btn-sf:after,
.btn-sf:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-sf {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-sf:disabled {
  cursor: default;
}

.btn-sf:-moz-focusring {
  outline: auto;
}

.btn-sf svg {
  display: block;
  vertical-align: middle;
}

.btn-sf [hidden] {
  display: none;
}

.btn-sf {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 1.5rem;
  position: relative;
  text-transform: uppercase;
}

.btn-sf .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  font-size: 30px;
}

.btn-sf:hover .original {
  transform: translateY(100%);
}

.btn-sf .letters {
  display: inline-flex;
  font-size: 20px;
}

.btn-sf span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-sf span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-sf:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-sf:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-sf:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-sf:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-sf:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-sf:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

.btn-sf:hover span:nth-child(7) {
  transition-delay: 0.6s;
}

.btn-sf:hover span:nth-child(8) {
  transition-delay: 0.7s;
}

.btn-sf:hover span:nth-child(9) {
  transition-delay: 0.8s;
}

.btn-sf:hover span:nth-child(10) {
  transition-delay: 0.9s;
}

.btn-sf:hover span:nth-child(11) {
  transition-delay: 1s;
}

.btn-sf:hover span:nth-child(12) {
  transition-delay: 1.1s;
}

.btn-pf,
.btn-pf *,
.btn-pf :after,
.btn-pf :before,
.btn-pf:after,
.btn-pf:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-pf {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-pf:disabled {
  cursor: default;
}

.btn-pf:-moz-focusring {
  outline: auto;
}

.btn-pf svg {
  display: block;
  vertical-align: middle;
}

.btn-pf [hidden] {
  display: none;
}

.btn-pf {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 1.5rem;
  position: relative;
  text-transform: uppercase;
}

.btn-pf .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  font-size: 30px;
}

.btn-pf:hover .original {
  transform: translateY(100%);
}

.btn-pf .letters {
  display: inline-flex;
  font-size: 20px;
}

.btn-pf span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-pf span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-pf:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-pf:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-pf:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-pf:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-pf:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-pf:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

.btn-pf:hover span:nth-child(7) {
  transition-delay: 0.6s;
}

.btn-pf:hover span:nth-child(8) {
  transition-delay: 0.7s;
}

.btn-pf:hover span:nth-child(9) {
  transition-delay: 0.8s;
}

.btn-pf:hover span:nth-child(10) {
  transition-delay: 0.9s;
}

.btn-pf:hover span:nth-child(11) {
  transition-delay: 1s;
}

.btn-pf:hover span:nth-child(12) {
  transition-delay: 1.1s;
}

.btn-c,
.btn-c *,
.btn-c :after,
.btn-c :before,
.btn-c:after,
.btn-c:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-c {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-c:disabled {
  cursor: default;
}

.btn-c:-moz-focusring {
  outline: auto;
}

.btn-c svg {
  display: block;
  vertical-align: middle;
}

.btn-c [hidden] {
  display: none;
}

.btn-c {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 1.5rem;
  position: relative;
  text-transform: uppercase;
}

.btn-c .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  font-size: 30px;
}

.btn-c:hover .original {
  transform: translateY(100%);
}

.btn-c .letters {
  display: inline-flex;
  font-size: 20px;
}

.btn-c span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-c span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-c:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-c:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-c:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-c:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-c:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-c:hover span:nth-child(6) {
  transition-delay: 0.5s;
}
