body {
  margin: 0;
  padding: 0;
}

.tatay {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("./ball.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tatayCon {
  width: 700px;
  height: 500px;
  text-align: center;
  border-radius: 20px;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  align-items: center;
  font-size: 40px;
}

.head1 {
  font-size: 100px;
  margin-bottom: 10px;
}

.nanayCon {
  width: 100%;
  height: 100vh;
  background-image: url(./fundamentalBG.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.tita {
  width: 100%;
  height: 60vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.titaHead {
  margin: 20px 0;
  text-align: center;
}
.titaH1 {
  margin-top: 150px;
  font-size: 50px;
  color: #ffd700; /* Warm yellow */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#titaH1F {
  margin: 0;
}
.grid-container {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.titaCon {
  background-color: rgba(20, 16, 16, 0.9);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.titaCon legend {
  font-size: 40px;
  color: #ffd700;
}
.titaCon p {
  font-size: 20px;
  margin-top: 10px;
}
.titaCon:hover {
  background-color: #ffd700;
  transform: scale(1.05);
}
.anak {
  position: absolute;
  top: 10px;
  left: 10px;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.lolaCon {
  width: 100%;
  height: 100vh;
  background-image: url(./fundamentalBG.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
}

.loloCon {
  width: 100%;
  height: 100vh;
  background-color: rgba(172, 117, 15, 0.938);
  /* background-image: url(courrtys.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
}
.positionHead {
  margin-top: 200px;
  font-size: 59px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonCon {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.positionButton {
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.basketball {
  color: #fff;
}

.court {
  width: 50vw;
  height: 500px;
  background-image: url(./courtPic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

#circlePG {
  margin-right: 300px;
}

#circleSG {
  margin-right: 450px;
  margin-bottom: 300px;
}

#circleSF {
  margin-right: 450px;
  margin-top: 250px;
}

#circlePF {
  margin-right: 750px;
  margin-bottom: 250px;
}

#circleC {
  margin-right: 750px;
  margin-top: 200px;
}

/* #courtPG{
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 100px;
  padding-top: 150px;
} */

.hidden {
  display: none;
}

.visible {
  display: flex;
}

#defCon {
  width: 900px;
  height: 50px;
  padding: 0;
  margin: 0;
  font-size: 45px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.definition {
  margin: 0;
}
